{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "uglify": false
                }
            }
        ]
    ],
    "plugins": [
        "transform-runtime"
    ]
  }
