$white: #fff;

.form-table .wss-settings-select {
    height: 33px;
}

.wss-dates {
    align-items: center;
    display: flex;

    > *:not(:last-child) {
        margin-right: .5em;
    }

    > label {
        font-weight: bolder;
    }
}

.wp-core-ui .wss-export-btn {
	margin-top: 1em;
}

.report-results,
.invalid-results {
    background: $white;
    padding: .5em;

    th,
    td {
        padding: .25em .5em;
    }
}

.invalid-results {
    text-align: center;
}
