$white: #fff;
$red: #dc3232;

.form-table .wss-settings-select {
    height: 33px;
}

.wss-dates {
    align-items: center;
    display: flex;

    > *:not(:last-child) {
        margin-right: .5em;
    }

    > label {
        font-weight: bolder;
    }
}

.wss-dates-spinner {
    float: none;
}

.wss-dates-spinner,
.wss-dates-error {
    visibility: hidden;
}

.wss-dates-error {
    background: $white;
    border-left: 3px solid $red;
    display: inline-block;
    padding: .75em 1em;
}

.wss-dates-error__dates {
    display: none;
}

.wss-dates-error__server {
    display: none;
}

.wp-core-ui .wss-export-btn {
    margin-top: 1em;
}

.report-results,
.invalid-results {
    background: $white;
    padding: .5em;

    th,
    td {
        padding: .25em .5em;
    }
}

.invalid-results {
    text-align: center;
}
