$white: #fff;
$red: #dc3232;
$green: #46b450;

.form-table .wss-settings-select {
    height: 33px;
}

.wss-dates {
    align-items: center;
    display: flex;

    > *:not(:last-child) {
        margin-right: .5em;
    }

    > label {
        font-weight: bolder;
    }
}

.wss-dates-spinner {
    float: none;
}

.wss-dates-spinner,
.wss-dates-error {
    visibility: hidden;
}

.wss-dates-error,
.wss-upload-error {
    background: $white;
    border-left: 3px solid $red;
    display: inline-block;
    padding: .75em 1em;
}

.wss-upload-success {
    background: $white;
    border-left: 3px solid $green;
    display: inline-block;
    padding: .75em 1em;
}

.wss-upload-error,
.wss-upload-success {
    display: none;

    &--visible {
        display: block;
    }
}

.wss-dates-error__dates {
    display: none;
}

.wss-dates-error__server {
    display: none;
}

.wss-about-fb {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.wss-about-fb__text {
    padding-right: 2em;
}

.wp-core-ui .wss-export-btn {
    margin-top: 1em;
}

.report-results,
.invalid-results {
    background: $white;
    padding: .5em;

    th,
    td {
        padding: .25em .5em;
    }
}

.invalid-results {
    text-align: center;
}
